@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* Memberi jarak agar judul tidak tertutup navbar fixed */
  scroll-padding-top: 100px; 
}

body {
  font-family: 'Inter', sans-serif; /* Pastikan font terlihat modern */
}
